# Dépendances
/node_modules
/.pnp
.pnp.js

# Build et distribution
/dist
/build
/coverage

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Éditeurs et OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Fichiers de test
/coverage
.nyc_output

# Fichiers de déploiement
.vercel
.netlify